# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
secret.env
firebase-creds.json


# Output folders

# PDF and logs
*.pdf
*.log

# Allow shipping purchased bundles
!static/bundles/*.pdf
!static/bundles/*.zip
.venv/
analytics.sqlite
